.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    margin-top: 10px;

}

a {
    padding: 8px;
    text-decoration: none;
}

.box1 {
    display: flex;
    width: 1200px;
    margin: auto;
    margin-top: 150px;
    justify-content: space-between;
}

.description {
    width: 600px;
}

.description h1 {
    font-size: 48px;
    margin: 0;
}

.description p {
    font-size: 34px;
}

.description button {
    font-size: 24px;
}

h2 {
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}

.box2 {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

.box3 {
    
}